.table {
  /* table-layout: fixed; */
  td,
  th {
    /* overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; */
  }
}
.table_head {
  border-top: none;

  & th:first-child {
    border-radius: 10px 0 0 0;
    border-left: none;
    border-top: none;
  }
  & th:last-child {
    border-radius: 0 10px 0 0;
    border-right: none;
    border-top: none;
  }
}

.sticky_top {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1020;
}
.sticky_left {
  position: sticky;
  left: 0;
  background-color: #f8f9fa;
  z-index: 1020;
}

.resizable {
  resize: horizontal;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: block;
}

/* ---------- demo styling ----------------- */
.table-wrapper {
  margin-bottom: 25px;
  border-radius: 6px;
  background: #fff;
  /* overflow: hidden; */
}

table {
  width: 100%;
  display: grid;
  overflow: auto;
  grid-template-columns:
    minmax(150px, 3fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr);
}

table thead,
table tbody,
table tr {
  display: contents;
}

table th {
  position: relative;
  font-size: 18px;
}

table th,
table td {
  text-align: left;
  padding: 16px 20px;
  min-width: 100px;
}

table th span,
table td span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

table tr td {
  border-top: 1px solid #ccc;
}

.resize-handle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 7px;
  right: 0;
  top: 0;
  z-index: 1;
  border-right: 2px solid transparent;
}

.resize-handle:hover {
  border-color: #ccc;
}

.resize-handle.active {
  border-color: #517ea5;
}
